{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Header -->
  <section>
    <div class="left-nike">
      <div class="short-nike">
        <img width="500px" height="500px" src="media/images/rasm 1 odam.jfif" alt="">
      </div>
      <div class="text-nike">
        <h2><span>Fizika</span> fani haqida</h2>
        <p class="abzas">Fizika - tabiat haqidagi umumiy fan; materiyaning tuzilishi, shakli, xossalari va uning harakatlari hamda oʻzaro taʼsirlarining umumiy xususiyatlarini oʻrganadi. Bu xususiyatlar barcha moddiy tizimlarga xos. Turli va aniq moddiy tizimlarda materiya shakllarining murakkablashgan oʻzaro taʼsiriga tegishli maxsus qonuniyatlarni kimyo, geologiya, biologiya singari ayrim tabiiy fanlar oʻrganadi. Binobarin, fizika fani bilan boshqa tabiiy fanlar orasida bogʻlanish bor. Ular orasidagi chegaralar nisbiy boʻlib, vaqt oʻtishi bilan turlicha oʻzgarib boraveradi. Fizika fani texnikaning nazariy poydevorini tashkil qiladi. Fizikaning rivojlanishida kishilik jamiyatining rivojlanishi, tarixiy davrlarning ijtimoiy-iqtisodiy va boshqa shart-sharoitlari maʼlum ahamiyatga egadir.

          Fizika fani eksperimental va nazariy fizikaga boʻlinadi. Eksperimental fizika tajribalar asosida yangi maʼlumotlar oladi va qabul qilingan qonunlarni tekshiradi. Nazariy fizika tabiat qonunlarini taʼriflaydi, oʻrganiladigan hodisalarni tushuntiradi va yuz berishi mumkin boʻlgan hodisalarni oldindan aytib beradi. Amaliy fizika ham mavjud (amaliy optika yoki amaliy akustika).
          
          Oʻrganilayotgan obʼyektlar va materiallarning harakat shakllariga qarab, fizika fani bir-biri bilan oʻzaro chambarchas bogʻlangan elementar zarralar fizikasi, yadro fizikasi, atom va molekulalar fizikasi, gaz va suyuqliklar fizikasi, qattiq jismlar fizikasi, plazma fizikasi boʻlimlaridan tashkil topgan. Oʻrganilayotgan jarayonlarga va materiyaning harakat shakllariga qarab, fizika moddiy nuqta va qattiq jism mexanikasi, termodinamika va statistik fizika, elektrodinamika, kvant mexanika, maydon kvant nazariyasini oʻz ichiga oladi.
          
          Fizikaning tarixiy rivojlanishi. Fizika tarixini 3 davrga boʻlib oʻrganish mumkin: 1) qad. zamondan XVII asrgacha boʻlgan davr; 2) XVII asrdan XIX asr oxirigacha boʻlgan davr. Bu davrdagi fizika fani, odatda, klassik fizika nomi bilan yuritiladi; 3) XIX asr oxiridan hozirgi paytgacha boʻlgan davr. Hozirgi zamon fizikasi (yoki eng yangi fizika) shu davrga mansub.</p>
      </div>
    </div>
    <div class="right-nike">
      <div class="box">
        <div class="box-img">
          <img width="250px" height="250px" src="media/images/22e267dab2ce006473c9805b259648830928.jpg" alt="">
        </div>
        <div class="box-text">
          <h2>MOLEKULYaR FIZIKA VA ТERMODINAMIKA ASOSLARI</h2>
          <p class="abzas">
            Modda tuzilishini va uni xossalarini molekulyar-kinetik tasavvurlar asosida, ya’ni molekulalar hamma vaqt betartib harakat holatida bo`lishlari va molekulalar orasida o`zaro t</p>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img width="250px" height="250px" src="media/images/rasm 2.jpg" alt="">
        </div>
        <div class="box-text">
          <h2>Optika</h2>
          <p class="abzas">Optika - fizikaning yoruglikning tabiatini, yoruglik hodisalari qonuniyatlarini, yoruglik bilan moddalarning ozaro tasirini organadigan bolimi. Yoruglikning togri chiziq boylab tarqalishi qadimda Mesopotamiya va qadimgi Misrda paydo bo'lgan.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img width="250px" height="250px" src="media/images/elektr.jfif" alt="">
        </div>
        <div class="box-text">
          <h2>Elektr</h2>
          <p class="abzas">Zaryadli zarralar tok tashuvchilar. Metallar va yarimoʻtkazgichlarda tok tashuvchilar elektronlardan, elektrolitlarda musbat va manfiy ionlardan, ionlashgan gazlarda musbat va manfiy ionlar hamda elektronlardan iborat.</p>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img width="250px" height="250px" src="media/images/Albert Einstein.jpg" alt="">
        </div>
        <div class="box-text">
          <h2>Albert Einstein</h2>
          <p class="abzas">Oren J. Turner olgan surat (1947)
            Tavalludi	14-mart 1879-yil
            Ulm, Wyurttemberg, Germaniya
            Vafoti	18-aprel 1955-yil
            (76 yoshda)
            Prinston, Nyu Jersi, AQSH
            Istiqomat joylari	Germaniya, Italiya, Shveytsariya, AQSH
            Fuqaroligi	Nemis (1879-96, 1914-33)
            </p>
        </div>
      </div>
    </div>
  </section>
  <!-- section -->

</body>

</html>
{% endblock content %}

