{% extends 'base.html' %}

{% block content %}
{% for Kitob in object_list %}
<section>
    <div class="right-nike">
        <div class="box">
            <div class="box-img">
                {% if kitob.rasm %}
                    <img src="{{kitob.rasm.url}}" alt="{{kitob.title}}">
                {% endif %}
            </div>
            <div class="box-text">
                <h2>{{Kitob.nomi}}</h2>
                <p>{{Kitob.text}}</p>
            </div>
        </div>
    </section>
{% endfor %}
{% endblock content %}

