{% extends 'base.html' %}
{% block content %}
<div class="detalbox">
    <p class="mexdet">Mavzu : {{mexanika.title}}</p>
</div>
<div class="mextana">
    <p class="mextana1">{{mexanika.body}}</p>
<div class="mextana2" >
        {% if mexanika.rasm %}
        <img src="{{mexanika.rasm.url}}" alt="{{mexanika.title}}">
        {% endif %}
    </div>
</div>

<div class="mexcontact">
    <div class="mexcontact1">
        <p>Muallif : {{mexanika.author}}</p>
    </div>
    <div class="mexcontact2">
        <p>Vaqt : {{mexanika.time}}</p>
    </div>       
</div>

{% endblock content %}
